.mission-message {
    padding: 0;
    height: 80vh;
}

.mission-message h1 {
    background-image: url("https://3liliom.hu/3liliom.png");
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: center top;
    padding: calc(4 * var(--h1-padding-h)) var(--h1-padding-w);
    text-align: center;
}

main .flex-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2vw;
    height: 15vh;
    opacity: 0.8;
    overflow: hidden;
}

.h20 {
    height: 20vh !important;
}

main .flex-content:hover {
    opacity: 1;
}