nav {
    height: 2.2em;
    background-color: var(--anchor-background-color);
    color: var(--anchor-text-color);
    text-shadow: var(--anchor-text-shadow);
    border-radius: 0 0 0.6em 0.6em;
}

.navbar-top-ikon,
.navbar-top-item {
    display: inline-block;
    height: 2.2em;
    padding: 0.5em 1em;
    vertical-align: middle;
    border: none;
    cursor: pointer;
}

.navbar-top-ikon:hover,
.navbar-top-item:hover {
    color: black !important;
    font-weight: bold;
    box-shadow: var(--anchor-box-shadow);
}

.navbar-toggle {
    width: 100%;
    background-color: var(--anchor-background-color);
}

.navbar-toggle .navbar-top-item {
    display: block;
    height: 2.2em;
    width: 100%;
}

.navbar-toggle .navbar-top-item:hover {
    box-shadow: var(--anchor-box-shadow);
}