.mission-message {
    padding: var(--h1-padding-h) 0;
    height: 40vh;
}

.mission-message h1 {
    padding: var(--h1-padding-h) var(--h1-padding-w) 0;
    text-align: center;
}

main .flex-content {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    margin: 0 2vw;
    height: 45vh;
    opacity: 0.8;
    overflow: hidden;
}

.h60 {
    height: 60vh !important;
    border: 1px solid white;
}

.h50 {
    align-self: flex-end !important;
    height: 50vh !important;
}

main .flex-content:hover {
    opacity: 1;
}