:root {
    --day-of-origin: '2023-01-06';
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
    background-color: rgba(0, 0, 128, 0.25);
}

.center-content {
    text-align: center;
}

.right-content {
    float: right;
}

.left-content {
    float: left;
}

.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
}

.sticky-content {
    position: sticky;
}

.hide {
    display: none !important;
}

.show {
    display: block !important
}

@media (min-width:993px) {
    .hide-large {
        display: none !important;
    }
}

@media (max-width:992px) and (min-width:601px) {
    .hide-medium {
        display: none !important;
    }
}

@media (max-width:600px) {
    .hide-small {
        display: none !important;
    }
}