.mission-message {
    height: 40vh;
    min-height: 240px;
}

h1 {
    font-family: var(--font-sans-serif);
}

.mission-message h1 {
    text-align: center;
    font-weight: 300;
    text-shadow: var(--body-text-shadow);
}

main p {
    margin: 0.5em;
    padding: 0.5em;
    width: 100%;
    text-align: justify;
    text-indent: 3rem;
    font-size: 1.25em;
}

main a {
    padding: 0.5em;
    width: 100% !important;
    color: var(--body-text-color);
    text-shadow: var(--body-text-shadow);
    text-align: center;
    font-size: 1.25em;
    opacity: 0.85;
}

main a:hover {
    border-radius: 0.5em;
    opacity: 1;
}

main a.h2,
main h2 {
    margin: 0.5em;
    padding: 0.5em;
    width: 100%;
    font-size: 3em;
    font-weight: 100;
    font-family: var(--font-handwriting);
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
}

main h3 {
    margin: 0.5em;
    padding: 0.5em;
    width: 100%;
    font-size: 1.75em;
    font-weight: 100;
    font-family: var(--font-sans-serif);
}

main h4 {
    margin: 0.25em;
    padding: 0.25em;
    width: 100%;
    font-size: 1.75em;
    font-weight: 100;
    font-family: var(--font-handwriting);
}

main .flex-box {
    padding: 0 0.5em;
}

.h60 {
    min-height: 60vh !important;
}

.h80 {
    min-height: 80vh !important;
}

main .flex-content {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    margin: 0 0.5em;
    padding: 0.5em;
    opacity: 0.75;
    text-align: justify;
}

main .flex-content:hover {
    opacity: 1;
}

.flex-grow1 {
    flex: 1;
}

.flex-grow2 {
    flex: 2;
}

.flex-grow3 {
    flex: 3;
}

.content-self-bottom {
    align-self: flex-end !important;
}

.stretch {
    align-self: stretch !important;
}

.opacity1 {
    opacity: 1 !important;
}