/* Create a Parallax Effect */
.bgimg-1,
.bgimg-2,
.bgimg-3 {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
	background-image: url('https://3liliom.hu/root-imgs/kalahari.jpg');
	min-height: 100vh;
}

/* Second image (Portfolio) */
.bgimg-2 {
	background-image: url("https://3liliom.hu/root-imgs/pacsirta.jpg");
	min-height: 100vh;
}

/* Third image (Contact) */
.bgimg-3 {
	background-image: url("https://3liliom.hu/root-imgs/mandala.jpg");
	min-height: 100vh;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1200px) {

	.bgimg-1,
	.bgimg-2,
	.bgimg-3 {
		background-attachment: scroll;
		min-height: 100vh;
	}
}


.b6-mission-message {
	text-align: center;
	height: 50vh;
  }
  
  .b6-mission-message h1 {
	position: absolute;
	top: 25%;
	left: 50%;
	width: 100%;
	color: #f8f8f8;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
	font-size: 5vmin;
	line-height: 7vmin;
	transform: translate(-50%, -50%);
  }
  
  .b6-mission-message h1>img {
	max-width: 20vmin;
  }
  