  html {
    font-family: var(--main-font-family);
  }

  p {
    font-family: var(--paragraph-font-family);
  }

  code{
    font-family: var(--code-font-family);
  }

  .b6-serif {
    font-family: serif
  }

  .b6-sans-serif {
    font-family: sans-serif
  }

  .b6-cursive {
    font-family: cursive
  }

  .b6-monospace {
    font-family: monospace
  }

  .b6-wide {
    letter-spacing: 0.5em
  }