:root {
    --main-font-family: Verdana, Geneva, Tahoma, sans-serif;
    --paragraph-font-family: Georgia, 'Times New Roman', Times, serif;
    --code-font-family: 'Courier New', Courier, monospace;

    --develop-bg-color: rgba(240, 248, 255, 0.4);
    --reserved-develop-bg-color: rgba(240, 248, 255, 0.4);

    --padding-w: 1em;
    --padding-h: 0.5em;
    --padding-larger: 1em;
    --padding-medium: 0.5em;
}