.b6-margin {
    margin: 16px !important
}

.b6-margin-top {
    margin-top: 16px !important
}

.b6-margin-bottom {
    margin-bottom: 16px !important
}

.b6-margin-left {
    margin-left: 16px !important
}

.b6-margin-right {
    margin-right: 16px !important
}