.b6-hover-opacity {
    cursor: pointer;
}

.b6-display-container {
    position: relative
}

.b6-opacity,
.b6-hover-opacity:hover {
  opacity: 0.60
}

.b6-opacity-off,
.b6-hover-opacity-off:hover {
  opacity: 1
}

.b6-opacity-max {
  opacity: 0.25
}

.b6-opacity-min {
  opacity: 0.75
}

.b6-padding-small {
    padding: 4px 8px !important
  }
  
  .b6-padding {
    padding: 8px 16px !important
  }
  
  .b6-padding-large {
    padding: 12px 24px !important
  }
  
  .b6-padding-16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important
  }
  
  .b6-padding-24 {
    padding-top: 24px !important;
    padding-bottom: 24px !important
  }
  
  .b6-padding-32 {
    padding-top: 32px !important;
    padding-bottom: 32px !important
  }
  
  .b6-padding-48 {
    padding-top: 48px !important;
    padding-bottom: 48px !important
  }
  
  .b6-padding-64 {
    padding-top: 64px !important;
    padding-bottom: 64px !important
  }
  
  .b6-padding-top-64 {
    padding-top: 64px !important
  }
  
  .b6-padding-top-48 {
    padding-top: 48px !important
  }
  
  .b6-padding-top-32 {
    padding-top: 32px !important
  }
  
  .b6-padding-top-24 {
    padding-top: 24px !important
  }
  