/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.b6-serif {
  font-family: serif
}

.b6-sans-serif {
  font-family: sans-serif
}

.b6-cursive {
  font-family: cursive
}

.b6-monospace {
  font-family: monospace
}

.b6-wide {
  letter-spacing: 0.25em
}

.mission-message {
  text-align: center;
  height: 100vh;
}

.mission-message h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #f8f8f8;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  font-size: 6vmin;
  line-height: 9vmin;
  transform: translate(-50%, -50%);
}

.mission-message h1>img {
  max-width: 20vmin;
}

.top-navbar-text {
  color: darkslateblue;
  text-shadow: 0 0 6px white, 0 0 16px whitesmoke;
}